<%= form_for @profile  , :html => { :id=>'avata_editor', :class => 'form-horizontal' } , :remote=> true do |f| %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       <%= f.file_field :image, :class=>"", :placeholder=>"jpg, gif, png only"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Change Image', :class=> "btn btn-default" %>
      </div>
    </div>



<% end %>
