<div class="row">
  <div class="col-xs-12  col-sm-8 col-md-8">
    <div class="media">
      <%= image_tag( user.image.url(:mobile), :class=>'pull-left')  %>
      <div class="media-body">
        <h4 class="media-heading"><%= user.username %></h4>
        <address>
          <a href="mailto:#"><%= user.email %></a><br>
          <% if user.profile.mobile.present? %>
          <abbr title="Phone">P:</abbr> <%=  user.profile.mobile %>
          <% end %>
        </address>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">

  </div>

</div>
