<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="media">
      <a class="pull-left" href="#">
        <%= place_image('') %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">Profile</h4>
        <address>
          <strong><%= @user.username %> </strong><br>
          <a href="mailto:#"><%= @user.email %></a>

        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
  </div>
</div>
