<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="media">
      <%= place_image('') %>
      <div class="media-body">
        <h4 class="media-heading"><%= @user.username %></h4>
        <address>
          <a href="mailto:#"><%= @user.email %></a>
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
  </div>
</div>
