
<% unless @user.profile.nil? %>
  <h2>Detail Profile.</h2>

  <% if @user.profile.image.present? %>
  <div class="row">
   image:  <%= @user.profile.image %>
  </div>
  <% end %>

<% end %>

<h2>History</h2>
<div class="row">
...
</div>

