<h1>Listing Members</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username , profile_path(user) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
