

<% if current_user?(@user) %>
  <%= render 'shared/link_to_profile' %>
<% end %>
<div class="container">

  <%= render 'name_tag'%>
  <%= render 'social_profile'%>

  <%= render 'partial_profile'%>

</div>



