


<%= render 'shared/link_to_profile' %>

<aside class="col-xs-6 col-md-4">
    <section>
      <div class="" id="avata">
        <%= render 'shared/avata', user: current_user, version: :thumb %>
      </div>

    </section>
</aside>
<div class="col-xs-12 col-sm-6 col-md-8">

</div>


<%= render partial: "name_tag", locals: { user: @user } %>


<%= render 'social_profile'%>




