

<% if @comments.any?%>
  <ul class="media-list">

  <% @comments.each do |comment| %>
    <li class="media">

      <%= render 'comments/comment_item', {comment: comment, commentable: @commentable} if comment.user.present? %>
    </li>
  <% end %>
</ul>

<%= paginate @comments %>
<% end %>
