<div class="row">
          <div class="media">
            <div class="media-body">
                <p><h3 class="text-center">I'm interested in the mentoring of Life 2.0. </h3></p>
		    	<h4 class="writer text-center">					
		    	If you haven't received an invitation, but are interested in the mentoring of Life 2.0, tell us. </br />
		    	We'll let you know when we're accepting more applications to give help.
				</h4>
				
            </div>
          </div>

</div>

<div class="row">
<%= render 'form' %>
</div>


