  <% if user_signed_in? %>
    <div class="row">
      <% @labs.each do |lab| %>
        <div class="col-xs-12  col-sm-6 col-md-6">
            <div class="thumbnail">
              <%= render partial: "shared/item_box", locals: { title: lab.name, item: lab, content: '' } %>
            </div>
        </div>
      <% end %>

    </div>

    <% else %>

    <div class="center hero-unit">
      <h1>Welcome to the Life 2.0</h1>

      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-default" %>  or
      <%= link_to "Sign with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>

    </div>

    <% end %>




