// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_cloud {

  border: 1px solid #e5e5e5;
  min-height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

}


.post-title{
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    color: #333332;
    font-size: 18px;
    line-height: 1.4;
    text-rendering: optimizelegibility;
}
