// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.myselect {
  width: 100%;
}

.lab-background {
  width: 100%;
  height: 200px;
}

.lab-bg {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.lab-title {
color: #ffffff;
}
