<div class="media">
  <h4 class="media-heading"><%= link_to title.titleize, item , :class=>'post-title' %></h4>
  <div class="media-body">
      <div class="focal-point imagebox right-1 up-1">
        <div> <%= link_to image_tag(item.image.url(:mobile), :class=> 'media-object') , item %></div>
      </div>
  </div>
</div>
<div class="media">
  <h4 class="writer"><%= item.to_writer %></h4>
  <div class="media-body">
    <%= truncate(content , length: 140) if content.present? %>
  </div>
</div>
