<div class='lab-title-bg' style="background-image: url(<%=background %>)">

  <div class="page-title">
    <ul class="media-list">
      <li class="media">
        <h2 class="lab-title-name "><%= lab.name %></h2>
      </li>
      <li class="media name-tag">
      <p class="pull-left" >
         <%= image_tag( lab.user.image.url(:thumb), :class=>'media-object img-circle' ,:size=>'32x32') %>
      </p>
      <div class="media-body">
        <h4><em> <%= "By #{lab.user.username}" %></em></h4>
      </div>
      </li>
    </ul>
  </div>

</div>
