<div class="jumbotron">
  <div class="container">
 To make the jumbotron full width, and without rounded corners,
  place it outside all .containers and instead add a .container within.
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%=image_tag 'sample.jpg' %>
      <div class="caption">
        <h3>Overseas Chances</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%=image_tag 'sample.jpg' %>
      <div class="caption">
        <h3>Labs Searching</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%=image_tag 'sample.jpg' %>
      <div class="caption">
        <h3>Mentors Searching</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%=image_tag 'sample.jpg' %>
      <div class="caption">
        <h3>Tech Searching</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

