<div class="jumbotron">
  <div class="container">

  </div>
</div>

<div class="row">
90년대 말 2000년 초반의 벤처 붐, IMF의 직격탄, 사상 최대의 취업난 속에 대기업을 꿈의 직장이라 믿고 어렵사리 취업의 관문을 뚫고 들어가도 막상 들어가자 마자 여기는 아닌데 라는 생각으로 해외 유학이나 이주를 키워드로 검색하는 나 자신… 너무나 익숙한 실패의 스토리들. 내가 꿈꿔온 삶은 이런 게 아닌데 라는 생각들.

[caption id="attachment_100" align="aligncenter" width="640"]<a href="http://moredream.files.wordpress.com/2014/03/10683523074_3eabb94832_z.jpg"><img class="size-full wp-image-100 " title="인생은 단체 관광이 아니다." alt="Oneway?" src="http://moredream.files.wordpress.com/2014/03/10683523074_3eabb94832_z.jpg" width="640" height="426" /></a> 인생은 단체 관광이 아니다.<br />가이드가 이끄는대로 따라가야만 할까?[/caption]

인생을 살면서 내가 하고 싶은 일이 무엇인지 생각하고 찾아가는 것이 아니라 앞 사람이 가는 대로 따라만 가던 것이 아닌지 가끔 생각하지만 당장은 내가 할 수 있는 일을 찾아 급급하게 삶은 이어왔던 지난 날 때때로 드는 '이건 아닌데’ 라는 생각에 경력 전환을 꿈꿔 보지만 지난 날 했던 일들이 오히려 제약이 되어 나에게 평가의 기회 조차 주어 지지 않거나 MBA, 경력 전환 등의 키워드로 새로운 기회를 모색해 보지만 XX 전공자는 그다지 XX 경력자는 실효가 없어 등, 알고 보면 새로운 기회를 찾을 수 있는 경우 보다는 기존의 권력을 공고히 하는 수단으로 이용되고 있는 현실을 접하고 다시 한 번 좌절하게 되는 상황의 연속, 진정 우리는 한 번 선택한 길에서 벗어나 나를 찾거나 나 자신을 위한 삶은 살 수는 없는 것일까? 단순한 질문이 가장 대답하기 곤란한 질문이라는 건 용기 없는 우리의 자화상이 아닐까? 작은 호기심이 세상을 바꿀 수 있기를 바라는 마음에서 이제 작은 발걸음을 한 발 세상으로 내딛게 되었습니다.

[caption id="attachment_103" align="aligncenter" width="640"]<a href="http://moredream.files.wordpress.com/2014/03/10700259526_799b13f595_z.jpg"><img class="size-full wp-image-103" title="선택의 기로" alt="Crossroad is not the next obstacle" src="http://moredream.files.wordpress.com/2014/03/10700259526_799b13f595_z.jpg" width="640" height="426" /></a> 진정한 해답은 자신의 마음 속에 있다.[/caption]
</div>

