
<h1 class="l-flush">Terms of Use</h1>
<p class="c-lead">By using the MoreDream.info website ("Service"), you agree to be bound by the following terms and conditions ("Terms of Use").</p>
<div class="l-xspace">
<h2>Our Relationship</h2>
<ul class="link-list">
<li>By accessing and using our products and services, you agree to comply with the Terms of Use listed here as well as our Privacy Policy.</li>
<li>We agree to do our absolute best to provide you with quality services. In return, you agree to refrain from activity that interferes with or prohibits us from providing these services to you.</li>
<li>By using our services, you agree to access them through our interface and not to attempt circumventing our system.</li>
<li>We reserve the right to terminate your account or stop providing products and services should you violate our Terms of Use.</li>
<li>Should you decide you no longer want to use our products, you can terminate your agreement at any time by asking for your account to be destroyed.</li>
</div>
<div class="l-xspace">
<h2>Your Responsibilities</h2>
<ul class="link-list">
<li>You must be 13 years of age or older to use this Service.</li>
<li>You must provide a valid email address, and any other required information.</li>
<li>You must ensure your account information remains accurate.</li>
<li>You are responsible for the safekeeping of your account credentials. Account activity is your responsibility, so we suggest keeping this information in a safe place.</li>
<li>Your account may only be used by one person or legal entity.</li>
<li>You are responsible for content posted and any activity that occurs under your account.</li>
<li>We will not be liable for decisions you make or your actions beyond the scope of our products.</li>
<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including copyright or trademark laws).</li>
<li>Our products are for your personal use. We work hard to provide you with a quality product and expect that you won't try to resell, copy, or make our products available to others without our written permission. If you love our product enough to pass it along, please just ask us for permission.</li>
</ul>
</div>
<div class="l-xspace">
<h2>Our Services</h2>
<ul class="link-list">
<li>We consistently add to and improve our products and services. We may update, add, or remove products without prior notice.</li>
<li>We strive to provide you with an exceptional customer experience and are always open to suggestions, comments, and feedback through our provided means of communication.</li>
<li>We want you to learn and have fun doing so while using our products, however we can't guarantee this will be the case.</li>
<li>We work diligently to make sure our products and services are available and reliable. Because of the nature of our business, this is not something we can always control or guarantee.</li>
</ul>
</div>

<div class="l-xspace">
<h2>Modifications to the Service and Prices</h2>
<ol class="link-list numbered">
<li>MoreDream.info reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. For instance, the Service may temporarily be disabled for occasional maintenance.</li>
<li>Prices of all Services, including the monthly subscription plan fees, are subject to change with 30 days notice from Code School. Such notice may be provided at any time by posting the changes to the MoreDream Site (MoreDream.info) or via email.</li>
<li>Code School shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
</ol>
</div>
<div class="l-xspace">
<h2>Copyright</h2>
<ol class="link-list numbered">
<li>The look and feel of the Service is Copyright 2014 MoreDream.info All rights reserved.</li>
</ol>
</div>
<div class="l-xspace">
<h2>General Conditions</h2>
<ol class="link-list numbered">
<li>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</li>
<li>You understand that MoreDream.info uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
<li>You must not modify, adapt, or hack the Service or modify another website so as to falsely imply that it is associated with the Service, MoreDream.info, or any other MoreDream.info service.</li>
<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission from MoreDream.info.</li>
<li>Verbal, physical, written, or other abuse (including threats of abuse or retribution) of any MoreDream.info customer, employee, member, or officer, will result in immediate account termination.</li>
<li>You must not upload, post, host, or transmit unsolicited email, or "spam" messages.</li>
<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
<li>If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by MoreDream.info) of other MoreDream.info customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.</li>
<li>MoreDream.info does not warrant that (1) the service will meet your specific requirements, (2) the service will be uninterrupted, timely, secure, or error-free, (3) the results that may be obtained from the use of the service will be accurate or reliable, (4) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (5) any errors in the Service will be corrected.</li>
<li>You expressly understand and agree that MoreDream.info shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including, damages for loss of profits, goodwill, use, data or other intangible losses (even if MoreDream.info has been advised of the possibility of such damages), resulting from: (1) the use or the inability to use the service; (2) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained, or messages received or transactions entered into through or from the service; (3) unauthorized access to or alteration of your transmissions or data; (4) statements or conduct of any third party on the service; (5) or any other matter relating to the service.</li>
<li>The failure of MoreDream.info to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and MoreDream.info and govern your use of the Service, superseding any prior agreements between you and MoreDream.info (including any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under Florida law.</li>
<li>Questions about the Terms of Service should be sent to support@MoreDream.info.</li>
</ol>
</div>
<p class="l-xspace">
Last updated on
<strong>May 29th, 2014.</strong>
Inspired by the <a href="https://help.github.com/articles/github-terms-of-service">GitHub Terms of Service</a>.
</p>
